body{
     /*permite definir un tamaño de fuente flexible, que se adapta a diferentes tamaños de pantalla, pero mantiene un tamaño mínimo y máximo.*/
     font-size: clamp(2rem, 3vw, 2.5rem) !important;
}
/* Personalización de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;  /* Color de las flechas */
    width: 40px; /* Tamaño de las flechas */
    height: 40px; /* Tamaño de las flechas */
}

/* Flechas más visibles al pasar el mouse */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #007bff;  /* Color cuando se pasa el mouse */
}
